/* 設定html,body抓到瀏覽器高度 */
html,
body {
  height: 100%;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background: hsl(0, 0%, 13%);
}

/* header------- */
#header {
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 0;
  position: fixed;
  background: hsl(0, 0%, 13%);
  border-bottom: 0.3px solid hsla(0, 0%, 93.3%, 0.1);
}
#header .menu ul li {
  float: left;
}
#header .menu ul li:nth-child(1) {
  height: 100%;
  width: 24px;
}
